<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span [routerLink]="'/'" class="navbar-brand">RAF Vacuum Control</span>
      <span class="spacer"></span>
      <span class="navbar-nav">
        <a *ngIf="isLoggedIn()" [routerLink]="'/'" mat-button routerLinkActive="active">Home</a>
        <a *ngIf="isLoggedIn() && hasReadVacuumsPermission()" [routerLink]="'/search'" mat-button routerLinkActive="active">Search Vacuums</a>
        <a *ngIf="isLoggedIn()" [routerLink]="'/history'" mat-button routerLinkActive="active">Error History</a>
        <a *ngIf="isLoggedIn() && hasAddVacuumPermission()" [routerLink]="'/add-vacuum'" mat-button routerLinkActive="active">Add Vacuum</a>
        <a *ngIf="isLoggedIn() && hasAddUserPermission()" [routerLink]="'/add-user'" mat-button routerLinkActive="active">Add User</a>

        <!-- Add more navigation links as needed -->
      </span>
      <span class="flex-spacer"></span> <!-- Add this spacer for flexibility -->
      <span class="navbar-nav">
        <a *ngIf="isLoggedIn()" (click)="logout()" [routerLink]="'/logout'" mat-button routerLinkActive="active">Logout</a>
        <!-- Add more navigation links or components on the right side if needed -->
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>