/* styles.scss or styles.css */

.header {
    .spacer {
      flex: 1 1 auto;
    }

    .navbar-nav {
      display: flex;
      align-items: center;
    }

    .navbar-brand {
      cursor: pointer;
    }

    .active {
      color: white;
    }
  }

  .flex-spacer {
    flex: 1;
  }