<form [formGroup]="editForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column; gap: 6px;">
    <mat-form-field>
      <label for="username">Username:</label>
      <input matInput type="text" id="username" formControlName="username" />
    </mat-form-field>
  
    <mat-form-field>
      <label for="email">Email:</label>
      <input matInput type="text" id="email" formControlName="email" />
    </mat-form-field>
  
    <mat-form-field>
      <label for="firstName">First Name:</label>
      <input matInput type="text" id="firstName" formControlName="firstName" />
    </mat-form-field>
  
    <mat-form-field>
      <label for="lastName">Last Name:</label>
      <input matInput type="text" id="lastName" formControlName="lastName" />
    </mat-form-field>
  
    <mat-form-field>
      <label for="password">Password:</label>
      <input matInput type="password" id="password" formControlName="password" />
    </mat-form-field>
  
    <mat-checkbox formControlName="createP">Create permission</mat-checkbox>
    <mat-checkbox formControlName="updateP">Update permission</mat-checkbox>
    <mat-checkbox formControlName="deleteP">Delete permission</mat-checkbox>
    <mat-checkbox formControlName="readP">Read permission</mat-checkbox>
    <mat-checkbox formControlName="readVP">Read vacuums permission</mat-checkbox>
    <mat-checkbox formControlName="addVP">Add vacuum permission</mat-checkbox>
    <mat-checkbox formControlName="removeVP">Remove vacuum permission</mat-checkbox>
    <mat-checkbox formControlName="startVP">Start vacuum permission</mat-checkbox>
    <mat-checkbox formControlName="stopVP">Stop vacuum permission</mat-checkbox>
    <mat-checkbox formControlName="dischargeVP">Discharge vacuum permission</mat-checkbox>
  
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
  